

<div class="card border rounded-2 shadow p-3 mb-3 mt-3">
    <div class="card-body">
        <h5 class="card-title">Cursos Inscritos</h5>
        <hr>
        <br>
        {% if enrolled_courses %}
            <ul class="list-group list-group-flush">
                {% for course in enrolled_courses %}
                    <li class="list-group-item">
                        <strong class="fs-5">{{ course.name }}</strong>
                         
                            <div >
                                <p>Estado:
                                {% if course.status == 'F' %}
                                <span class="badge bg-danger px-3 py-1.5 text-center" style="min-width: 120px;">{{course.get_status_display}}</span>
                                {% elif course.status == 'P' %}
                                <span class="badge bg-warning text-dark px-3 py-1.5  text-center" style="min-width: 120px;">{{course.get_status_display}}</span>
                                {% elif course.status == 'I' %}
                                <span class="badge bg-success px-3 py-1.5 text-center" style="min-width: 120px;">{{course.get_status_display}}</span>
                                {% elif course.status == 'IT' %}
                                <span class="badge bg-info px-3 py-1.5 text-center" style="min-width: 120px;">{{course.get_status_display}}</span>
                                {% else %}
                                ({{ course.get_status_display }})
                                {% endif %}
                               </div>
                               <!-- {{ course.get_status_display }}</span></p> -->
                        <!-- <p>{{ course.description }}</p> -->
                        {% if course.status == 'P' or course.status == 'F' %}
                            <a href="{% url 'principal:student_course_attendances' student_id=user.id course_id=course.id %}" class="btn btn-info btn-sm float-end ">Ver asistencias</a>
                            <a href="{% url 'principal:student_course_notes' student_id=user.id course_id=course.id %}" class="btn btn-success btn-sm float-end me-3">Ver Notas</a>
                        {% endif %}
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No estás inscrito en ningún curso actualmente.</p>
        {% endif %}
    </div>
</div>