{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Agregar Calificación</h2>
        </div>
        <div class="card-body">
            <p><strong>Estudiante:</strong> {{ matricula.student.first_name }} {{ matricula.student.last_name }}</p>
            <p><strong>Curso:</strong> {{ matricula.course.name}}</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Guardar Calificación</button>
                <a href="{% url 'principal:student_list_notas_by_course' course_id=matricula.course.id %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>



{% endblock %}