{% if user.is_authenticated %}
    {% if group_name == 'Estudiantes' %}
    <div class="container bg-primary text-white">
    {% elif group_name == 'Profesores' %}
    <div class="container bg-success text-white">
    {% elif group_name == 'Administración' %}
    <div class="container bg-danger text-white">
      {% elif group_name == 'Secretaría' %}
    <div class="container bg-secondary text-white">
    {% else %}
    <div class="container bg-primary text-white">
    {% endif %}
{% else %}
<div class="container bg-primary text-white">
{% endif %}

    <style>
  .nav-link:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
  .btn:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }
</style>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
      <div class="col-md-3 mb-2 mb-md-0"> 
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
           <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg> 
        </a> 
      </div> 
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"> 
        <li><a href="{% url 'principal:home' %}" class="nav-link px-2 text-white">Inicio</a></li>
        {% if group_name == 'Secretaría' %}
        <li><a href="{% url 'principal:cursos' %}" class="nav-link px-2 text-white">Administrar Cursos</a></li>
        <li><a href="{% url 'principal:registro_respuestas_general' %}" class="nav-link px-2 text-white">Registro de Respuestas</a></li>
        {% elif group_name == 'Profesores' %}
        <li><a href="{% url 'principal:cursos' %}" class="nav-link px-2 text-white">Nuestros Cursos</a></li>
        <li><a href="{% url 'principal:registro_respuestas_general' %}" class="nav-link px-2 text-white">Registro de Respuestas</a></li>
        {% else %}
        <li><a href="{% url 'principal:cursos' %}" class="nav-link px-2 text-white">Nuestros Cursos</a></li>
        {% endif %}
        <li><a href="#" class="nav-link px-2 text-white">Acerca de</a></li> 
      </ul> 
      <div class="col-md-3 text-end">
        {% if request.user.is_authenticated %}
        <li style="list-style-type: none;">
          <a class="nav-link px-2 text-white" href="{% url 'principal:profile' %}">{{group_name}} | {{user.username}}</a>
        </li>
         <!--  {% if group_name == 'Administración' %}
        <a href="{% url 'principal:logout_view' %}" type="button" class="btn btn-outline-light text-white border-white" style="background-color: #ffcc00;">Cerrar Sesion</a>
          {% else %}
        <a href="{% url 'principal:logout_view' %}" type="button" class="btn btn-outline-light text-white border-white" style="background-color: #dc3545;">Cerrar Sesion</a>
          {% endif %} -->
        {% else %}
        <a  href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2" >Iniciar Sesion</a>
        <a href="{% url 'principal:registro' %}" type="button" class="btn btn-light">Registrarse</a> 
        {% endif %}


        </div>
       </header> 
      </div>

   


